.space-background {
  background-image: url("/assets/global/images/animated-gifs-of-fighting-game-backgrounds-27.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; 
  background-color: #DC3545;
}
.mycontainer {
  background-image: url("/assets/global/images/animated-gifs-of-fighting-game-backgrounds-27.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  height: 100vh;
}

.visible {
  display: block;
}

.difficulty-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.35);
}

.difficulty-card:hover {
  background-color: #000;
  transform: translateY(-8px) scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.difficulty-card.active {
  border: 2px solid rgb(196, 95, 112);
  background-color: rgba(110, 72, 170, 0.1);
}

.difficulty-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.game-container {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.show {
  display: flex !important;
}

#settings-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

#settings-modal .settings-container {
  background-color: #000;
  width: 30vw;
  padding: 1rem;
  border: 2px solid orange;
  box-shadow: 5px 5px 20px orange, -5px -5px 20px orange;
}

#settings-modal .settings-container h2 {
  text-align: center;
}

#settings-modal .settings-container .settings-content ul {
  margin: 0;
  padding: 0;
}

#settings-modal .settings-container .settings-content ul li {
  list-style: none;
  margin-bottom: 15px;
}

#settings-modal .settings-container .settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .mycontainer {
    height: auto;
  }
  .difficulty-card:hover {
    transform: scale(0.9);
  }
}
