body {
  margin: 0;
  padding: 0;
  background: url("/assets/easy/images/background.gif") no-repeat center center fixed;
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  color: white;
  height: 100vh;
  overflow: hidden;
}



.mediumPage h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw !important;
  background-image: url("/assets/global/images/animated-gifs-of-fighting-game-backgrounds-19.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
  box-sizing: border-box;
}

.game-info-container {
  display: flex;
  gap: 50px;
  font-size: 2rem;
  margin-bottom: 20px;
  z-index: 1;
}

.game-info-container p {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  color: var(--text-color);
}

.game-info-container span {
  color: var(--primary-color);
  font-size: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 70px); 
  grid-template-rows: repeat(6, 70px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
  max-height: calc(100vh - 150px);
  overflow: hidden; 
}

.card-container {
  perspective: 1000px;
  width: 70px;
  height: 70px;
}

.flipCard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.flipCard.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; 
  color: white;
}

.card-front {
  background-color: white;
}

.card-front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-back {
  background: #ff5722;
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card {
  position: relative;
  width: 70px;
  height: 70px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid white;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
  background-position: center;
}

.card.matched {
  opacity: 0.5;
  pointer-events: none;
  animation: glow 1s;
}

.sittings {
  margin-top: 10px;
}

.settings-button {
  cursor: pointer;
  background-color: rgba(209, 209, 209, 0.8);
  box-shadow: 2px 2px 8px rgba(135, 240, 109, 0.7);
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  position: absolute;
  border-radius: 30px;
  font-weight: bolder;
  font-size: 1rem;
  right: 2%;
  bottom: 5%;
  color: black;
}

.settings-button:hover {
  background-color: rgba(135, 240, 109, 0.7);
}